.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.budgets-wrapper {
  width: 300px;
  margin-bottom: 50px;
}

.budgets {
  margin-bottom: 30px;
}

a:hover {
  opacity: 0.9;
}
