.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container > * {
  margin: 1% 2%;
}

a {
  color: gray;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: lightcoral;
}

.title {
  text-align: center;
}

.more-info {
  width: 60%;
  margin: auto;
}