<div>
  <h2 class="title">Meet the Team</h2>
  <div class="container">
    <app-person *ngFor="let person of team" [person]="person"></app-person>
  </div>
  <hr />
  <h2>About the Project</h2>
  <mat-card class="more-info">
    <mat-card-content>
      <p>
        Jonathan and Jordan are fully endorsed graduates from Lambda School's
        Full-Stack Web Development track.
      </p>
      <p>
        They've collaborated on several applications together, including:
      </p>
      <ul>
        <li>
          <a
            href="https://explorequality.com/"
            target="_blank"
            rel="noopener noreferrer"
            >QualityHub + InterviewQ</a
          >
        </li>
        <li>
          <a
            href="https://createadventure.netlify.app/"
            target="_blank"
            rel="noopener noreferrer"
            >Create Your Own Adventure</a
          >
        </li>
        <li>
          <a
            href="https://lambdalegend.netlify.app/"
            target="_blank"
            rel="noopener noreferrer"
            >The Legend of Lambda</a
          >
        </li>
      </ul>
      <p>
        For this project, they wanted to implement an unfamiliar web development
        technology stack and utilize some AWS services for database management
        and application deployment.
      </p>
      <p>
        This application is built with
        <a href="https://angular.io/" target="_blank" rel="noopener noreferrer"
          >Angular</a
        >,
        <a
          href="https://expressjs.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Express</a
        >, and
        <a
          href="https://aws.amazon.com/dynamodb/"
          target="_blank"
          rel="noopener noreferrer"
          >Amazon DynamoDB</a
        >. It's styled with
        <a
          href="https://material.angular.io/"
          target="_blank"
          rel="noopener noreferrer"
          >Angular Material</a
        >.
      </p>
    </mat-card-content>
  </mat-card>
</div>
