.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form section {
  min-width: 300px;
  /* max-width: 500px; */
  width: 100%;

  display: flex;
  flex-direction: column;
}

.tax-estimate-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tax-estimate {
  color: #69f0ae;
  text-decoration: none;
  margin: 0.5rem 0;

  display: flex;
  align-items: center;
}

.tax-estimate:hover {
  text-decoration: underline;
}
