
<div class="container">
  <h2>Start Budgeting Today!</h2>
  <p *ngIf="loading">Attempting to register account...</p>
  <div *ngIf="complete && isSuccess">
    Register successful! Redirecting soon...
  </div>
  <div *ngIf="isError">
    Error with registering. Please try filling out all forms or a new username.
  </div>
  <div class="form" (keydown.enter)="register()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="register()">Register</button>
  </div>
</div>

