
<div class="container">
  <h2>Welcome Back!</h2>
  <div class="form" *ngIf="!loading; else Loading">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="register()">Log in</button>
  </div>
  <ng-template #Loading>
    <div>LOADING</div>
  </ng-template>
</div>

