
<div class="container">
  <h2>Welcome Back!</h2>
  <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="complete && isSuccess">
    Log in successful! Redirecting soon...
  </div>
  <div *ngIf="isError">
    Incorrect credentials.
  </div>
  <div class="form" (keydown.enter)="login()">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="login()">Log in</button>
  </div>

</div>

