<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><a class="nav-link" [routerLink]="['/']">Budget Planner</a></span>
    <span class="spacer"></span>
    <nav>
      <a class="nav-link" [routerLink]="['/about']">About</a>
      <span *ngIf="signedIn; else elseBlock">
        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
        <a class="nav-link" (click)="openDialog()">Logout</a>
      </span>
      <ng-template #elseBlock>
        <a class="nav-link" [routerLink]="['/login']">Login</a>
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </ng-template>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
