.spacer {
  flex: 1 1 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  /* max-width: 900px; */
  margin: 20px auto;
}
