.nav-bar {
  display: flex;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
    height: auto;
  }
}

.spacer {
  flex: 1 1 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.container {
  max-width: 1000px;
  padding: 0 2%;
  margin: 20px auto;
}
