.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  margin-right: 10px;
}

.budget {
  display: flex;
  /* flex-direction: column; */
  margin-top: 20px;
  justify-content: space-between;
}

.budget-visuals {
  display: flex;
  width: 40%;
  flex-direction: column;
}

section {
  width: 300px;
}
