.buttons {
  display: flex;
  justify-content: space-between;
}

.budget {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.budget-visuals {
  display: flex;
  width: 300px;
  flex-direction: column;
}
