<a mat-button color="accent" [routerLink]="['/dashboard']">Back to dashboard</a>

<h2>Budget: {{ selectedBudget.name }}</h2>
<div class="buttons">
  <button mat-flat-button color="primary" (click)="updateBudget()">
    Save budget
  </button>
  <button mat-flat-button color="warn" (click)="openDialog()">
    Delete budget
  </button>
</div>
<div class="budget">
  <div class="budget-form">
    <app-budget-form [budget]="selectedBudget"></app-budget-form>
  </div>
  <div class="budget-visuals">
    <app-visualization [budget]="selectedBudget"></app-visualization>
    <app-bar-graph [budget]="selectedBudget"></app-bar-graph>
  </div>
</div>
