.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  margin-right: 10px;
}

.budget {
  display: flex;
  /* flex-direction: column; */
  margin-top: 20px;
  justify-content: space-between;
}

sectionn {
  width: 300px;
}
